@font-face {
  font-family: "Moving Skate";
  src: url("fonts/moving_skate-webfont.woff");
  src: url("fonts/moving_skate-webfont.woff2") format("woff2");
}

.own-grid {
  min-height: 100% !important;
}

.-header-menu {
  position: fixed !important;
  z-index: 2 !important;
  background-color: #628b61 !important;
  color: #daa520 !important;
  padding: 10px !important;
  margin-top: -1px !important;
  border-radius: 0px !important;
  height: 52px;
}
.-header-news {
  text-align: center !important;
}
.-header-news-button {
  margin-top: 7px !important;
}
.-header {
  font-family: "Moving Skate" !important;
  font-size: 45px !important;
}
.-header-icon {
  color: #daa520 !important;
  font-size: 35px !important;
  position: fixed !important;
  z-index: 2 !important;
  right: 0px;
  top: 7px;
}

.-sidebars {
  background-color: #c7e1ba !important;
  height: 100% !important;
  position: fixed !important;
  width: inherit !important;
  margin: inherit !important;
  padding: 20px !important;
}

.-feed {
  margin: inherit !important;
  padding: 10px !important;
}

.-menu {
  width: inherit !important;
  margin: inherit !important;
  position: fixed !important;
  top: 75% !important;
  transform: translateY(-25%) !important;
  border-top: none !important;
}

.grid-column {
  position: relative !important;
  margin: 0 !important;
  padding: 0 !important;
}

.active.item {
  background-color: #f6e4cc !important;
  border-color: #daa520 !important;
}

body {
  height: 100%;
  background-color: #f6e4cc !important;
}

.-segment {
  border-top-color: #daa520 !important;
  width: 100% !important;
}

.obere-list {
  position: relative !important;
  top: 10% !important;
  transform: translateY(-90%) !important;
}

.-list {
  position: relative !important;
  top: 70% !important;
  transform: translateY(-30%) !important;
}

.list-item {
  background-color: #f6e4cc !important;
  width: 80% !important;
}

.mine-button {
  background-color: #f6e4cc !important;
  width: 100% !important;
  color: #daa520 !important;
}

.-avatar {
  width: 40% !important;
  border-radius: 50% !important;
  margin-bottom: 2em !important;
}

.-loginform {
  background-color: #f3d5bd !important;
  margin-top: 3em !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  padding: 2em 3em 3em 3em !important;
  border-radius: 0.3em !important;
}

.ui.centered.grid.page.grid.-login-btn-form {
  margin-top: 2em !important;
}

.-psw {
  align-self: center !important;
}

.ui.button.-login-btn {
  background-color: #daa520 !important;
  color: white !important;
  width: 64px !important;
}

.ui.button.-register-btn {
  background-color: #daa520 !important;
  color: white !important;
  width: auto !important;
}

.ui.form .field > label {
  font-size: 1em !important;
}

.div.field.-login-field {
  margin-top: 2em !important;
}

.-reg-span {
  z-index: 1 !important;
  float: right !important;
  margin-right: 10px !important;
}

.-like-button {
  background-color: #daa520 !important;
}

.-full-width {
  width: 100% !important;
}
.-padding-10 {
  padding: 10px;
}
.-text-right {
  text-align: right;
}

h1 {
  margin: 0 !important;
  display: inline-block !important;
}

.-left-feed-grid {
  padding-right: 5px;
  border-right: 1px solid !important;
  border-right-color: lightgray !important;
}

.-post {
  text-align: center;
  word-wrap: break-word !important;
}

.dropdown {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}
.upload {
  color: #f3d5bd !important;
}

.-feed-image {
  display: block;
  height: auto;
  width: 100%;
  max-width: 475px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.-feed-image-mobile {
  display: block;
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}

.-feed-video {
  max-width: 475px !important;
  width: 100%;
  height: calc(30vw * 0.56);
}
.-feed-video-mobile {
  width: 100%;
  height: calc(70vw * 0.56);
}

.-feed-content-wrapper {
  display: inline-block;
  width: 100%;
}

.-float-left {
  float: left !important;
}
.-float-right {
  float: right !important;
}
.-feed-font-size {
  font-size: 16px !important;
  font-stretch: narrower;
}

.-tab {
  border-color: #daa520 !important;
  background-color: #f6e4cc !important;
}

.ui.attached.menu {
  border-color: #daa520 !important;
}

.-clickable:hover {
  cursor: pointer;
}

.-min-full-height {
  min-height: 100%;
}

.-no-border {
  border: none !important;
}
.-border-top {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid !important;
  border-color: lightgray !important;
}

.-feed-comment-font-color {
  color: #494d44 !important;
}

.featured-user {
  background-color: white !important;
  border-top: 1px solid #daa520 !important;
  width: 150px !important;
  height: 150px !important;
  padding: 0 !important;
}

.-visible {
  margin: 0 !important;
}

.-image:hover {
  opacity: 0.4 !important;
}

.mobile-menu{
  background-color: #c7e1ba !important;
}

.ui.inverted.icon.menu .item {
    color: black;
}

.ui.inverted.menu .link.item:active, .ui.inverted.menu a.item:active {
    color: #f6e4cc !important;
}

.-no-padding {
  padding: 0 !important;
}

.-text-center {
  text-align: center !important;
}

